body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
footer {
  margin-top: auto;
}
.list-group-item input[type="checkbox"] {
  transform: scale(1.3);
}
